//COLUMN TEMPLATE
.inner-content-left {
    min-width: 240px;
}
.inner-content-right {
    border-left: 1px solid #70707036;
    max-width: 55%;
}

//BODY ITEMS & SPECIAL TEMPLATES
.item-content, .hidden-content {
    h1 {
        color: #175B8F;
        font-size: 1.5rem;
        font-weight: 400;
    }
    p, ul {
        width: 100%;
    }
    h3 {
        color: #175b8f;
        font-weight: 700;
        font-size: 1.1em;
    }
    ul {
        font-size: 1rem;
        line-height: 2rem;
        padding-left: 15px;
        max-width: 1000px;
        //list-style: disc;
        margin-bottom: .8em;
    }
    
    ol > li::before {
        font-weight: 700;
        color: #0079c1;
    }

    li {
        margin: .8rem 0;
    }

    .body {
        position: relative;
        width: 100%;
        .title {
            width: fit-content;
            margin: 0;
            margin-top: 2.5em;
            margin-bottom: 0;
            text-transform: uppercase;
            color: #175B8F;
            font-weight: 700;
            width: 100%;
        }
        

        &.bar {
            .title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                padding: .5em 0;
                background: rgba(#D2E9F7, .6);
            }
            .detail {
                position: absolute;
                padding: .5em 0;
                left: 1rem;
                color: #175B8F;
            }
            p {
                margin-left: 12%;
                width: 88%;
            }
        }

        &.tile {
            &:first-of-type { margin-top: 8em; }
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &.light { background: rgba(#D2E9F7, .6); }
            &.dark { background: rgba(#9AABD1, .5); }

            .title { display: none; }
            
            div:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 85%;
                min-height: 150px;
                padding: 10px 0;
                p {
                    font-weight: 700;
                    font-size: .9em;
                    color: #175B8F;
                    margin: 0;
                    width: 95%;
                }
            }
            .detail {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
                font-size: 5em;
                font-weight: 700;
                color: #fff;
            }
        }
    }
}

.hidden-content {
    p { 
        width: 100%;
    }
    .body.tile {
        &:first-of-type {
            margin-top: 0;
        }
        width: 100%;
        p {
            width: 100%;
        }
    }
}

// LEFT MENU STYLE
.menu {
    list-style: none;
    padding-left: 0;
    .item-menu {
        display: flex;
        padding: 20px 0px;
        position: relative;
        cursor: pointer;
        background: transparent;
        align-items: center;
        color: #175B8F;
    }
    li, button {
        position: relative;
        &::before {
            background-color: #175b8f31;
            width: 2px;
            height: 23px;
            left: 26px;
            top: 80px;
            position: absolute;
            content: "";
        }   
        &:last-child:before {
            display: none;
        }
    }
    .item-menu:hover {
        .num { 
            background-color: #175b8f31;
            transition: 0.3s ease;
            color:#175B8F;
            border: 2px solid #175b8f00;
        }
    }
    h2 {
        color: #9AABD1;
        font-size: 1.125rem;
        font-weight: 400;
        margin: 10px 20px ;
    }
    .num {
        transition: 0.3s ease;
        color:#175B8F;
        border: 2px solid #175b8f31;
        min-width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        border-radius: 50px;
        align-items: center;
        margin-right: 1em;
        font-size: 1rem;
        font-weight: 600;
    }
}
.active-section {
    .num {
        background-color: #175B8F;
        color: #fff;
    }
    h2 {
        color: #175B8F;
    }
}

// STYLE FOR MOBILE VERSION OF ACCORDIONS
.accordion-item {
    //padding: 30px 50px;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: #D2E9F7;

    .clicker {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: transparent;
    }

    .clicker > h2,
    .clicker > .accordion-icon {
        pointer-events: none;
    }

    .clicker,
    .hidden-content {
        padding: 30px 20px;
    }

    .hidden-content {
        padding-top: 0;
    }

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 10px 20px ;
        color: #175B8F;
        margin-left: 0px;
    }
    .hidden-content {
        display: none;
    }
    .accordion-icon {
        background-color: #fff;
        color:#175B8F;
        min-width: 40px;
        min-height: 40px;
        display: flex;
        justify-content: center;
        border-radius: 50px;
        align-items: center;
        font-weight: 600;
        &:after {
            content: "+";
            font-size: 1.5rem;
        }
    }
}
.accordion-item.active {
    .hidden-content {
        display: block;
    }
    .accordion-icon{
        &:after {
            content: "-";
            margin-top: -5px;
        }
    }
}

@media(max-width:1024px){
    .content.isMobile{
        padding: 0;
    }
    .hidden-content {
        p, ul {
            width: auto;
        }
        .body.bar {
            .detail {
                z-index: 10;
            }
            .title {
                margin-top: 0;
                position: relative;
                
                &::before {
                    background: rgba(#175B8F, .2);
                    width: 100%;
                    height: 40px;
                    bottom: 0;
                    z-index: 0;
                    content: '';
                    position: absolute;
                }
            }
        }
    }
}
@media(max-width:768px){
    .accordion-item {
        h2 {
            font-size: 1.25rem;
        }
    }

    .hidden-content {
        .body.tile {
            width: calc(100% + 40px);
            margin-left: -20px;
            
            &:first-of-type {
                margin-top: 0;
            }
            flex-direction: column;
            align-items: center;
            .detail {
                font-size: 3em;
                margin-top: 10px;
            }
            div:last-child {
                min-height: unset;
                padding-bottom: 2em;
            }
        }

        .body.bar {
            width: 100%;
            .detail {
                left: 0;
                position: relative;
                padding: 0;
                margin: 0 auto;
                width: fit-content;
                margin-top: 2em;
                
            }
            .title {
                margin-top: 0;
                position: relative;

                &::before {
                    background: rgba(#175B8F, .2);
                    width: 100%;
                    height: 4em;
                    bottom: 0;
                    content: '';
                    position: absolute;
                }
            }
            p {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.tohide {
    width: 1px;
    height: 1px;
    font-size: 0px;
    position: absolute;
    overflow: hidden;
    left: -1px;
}

button.tohide {
    padding: 0;
    border: none;
}