@import "./typography.scss";
@import "./layout.scss";

body {
  padding: 0;
  margin: 0;
  background-color: #ECF2F6;
}

.center  {
  width: 500px;
  margin: 0px auto;
}

button {
  border: 0px;
  border-radius: 50px;
  font-size: 1rem;
  padding: 10px 20px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

button.outline {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 600;
  &:hover {
    background-color: #fff;
    transition: 0.3s ease;
    color: #1A3C6E;
    &:after {
      background-image: url("../assets/icon-nuova-scheda-hover.svg");
      }
  }
}

button.icon-left {
  padding: 15px 60px 15px 20px;
}

button.icon-left::after {
  background-image: url("../assets/icon-nuova-scheda.svg");
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/*OUT OF SCOPE SCSS*/
.is-mobile nav.show + .template-page {
  height: 100vh;
  overflow: hidden;
}

/*responsive*/
.isMobile {
  display: none !important;
}

@media(max-width:1024px){
  .isDesktop{
    display: none !important;
  }
  .isMobile {
    display: block !important;
  }
}

#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-bottom-left.esri-ui-corner > div {
  position: absolute;
  left: -80px;
  z-index: 1000;
}

#viewDiv > div.esri-view-root > div.esri-ui {
  overflow: visible;
}
