@import "./typography.scss";
@import "./layout.scss";
@import "./structure.scss";

body {
  padding: 0;
  margin: 0;
  background-color: #ECF2F6;
}

.center  {
  width: 500px;
  margin: 0px auto;
}

button {
  border: 0px;
  border-radius: 50px;
  font-size: 1rem;
  padding: 10px 20px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

.main-button {
  color: #fff;
  font-size: 0.875rem;
  background-color: #1A3C6E;
  border: transparent 1px solid;
  &:hover {
    background-color: #fff;
    transition: 0.3s ease;
    border-color: #1A3C6E;
    color: #1A3C6E;
  }
}

button.outline {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  &:hover {
    background-color: #fff;
    transition: 0.3s ease;
    color: #1A3C6E;
  }
}

button.icon-left {
  padding: 15px 60px 15px 20px;
  &:hover {
    transition: 0.3s ease;
    &:after {
      background-image: url("../assets/icon-nuova-scheda-hover.svg");
    }
  }
}

button.icon-left::after {
  background-image: url("../assets/icon-nuova-scheda.svg");
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/*OUT OF SCOPE SCSS*/
.is-mobile nav.show + .template-page {
  height: 100vh;
  overflow: hidden;
}

/*responsive*/
.isMobile {
  display: none !important;
}

@media(max-width:1024px){
  .isDesktop{
    display: none !important;
  }
  .isMobile {
    display: block !important;
  }
}

//REMOVE DEFAULT SHADOW FROM ALL WIDGETS
#viewDiv .esri-view-root .esri-ui .esri-ui-inner-container.esri-ui-corner-container .esri-ui-corner .esri-component {
  box-shadow: none;
}

//STYLE SEARCH WIDGET
#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-top-left.esri-ui-corner > div.esri-component.esri-search.esri-widget {
  border-radius: 50px;
  margin-right: 10px;
}

//HIDE DEFAULT ZOOM BUTTONS + HIDE LEGEND SUBTITLE
#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-corner .esri-legend__layer-caption,
#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-top-left.esri-ui-corner > div.esri-component.esri-zoom.esri-widget {
  display: none;
}

//DISPLAY TOP LEFT WIDGETS IN LINE
#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-top-left.esri-ui-corner {
  display: flex;
  flex-direction: row;
  align-items: center;
}


//ROTATE ZOOM BUTTONS --> VERTICAL LAYER
#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-bottom-right.esri-ui-corner {
  transform: rotateZ(90deg) translateX(-45%) translateY(-100%);
}

#zoomer > button.esri-icon-minus::before {
  transform: rotateZ(90deg);
  display: block;
}

//STYLE EXPAND BUTTON FOR LEGEND
#viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-bottom-left.esri-ui-corner > div {
  border-radius: 50px;
  background-color: transparent;
  &> div.esri-expand__container > div.esri-expand__panel > div {
    border-radius: 50px;
    padding: 10px;
    &:hover {
      background: #0079c1;
      color: #fff;
    }
  }
}


//EXPAND BUTTON FOR SPANISH LEGEND (es)
.lang-es {
  #viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-bottom-left.esri-ui-corner > div > div.esri-expand__container:not(.esri-expand__container--expanded) > div.esri-expand__panel > div {
    position: relative;
    width: 200px;
    &::after {
      content: 'Leyenda de los espacios';
      width: fit-content;
      position: absolute;
      top: 8px;
      right: 10px;
    }
    &> span.esri-collapse__icon.esri-icon-layer-list {
      position: absolute;
      left: 10px;
    }
  }
}

//EXPAND BUTTON FOR ENGLISH LEGEND (en)
.lang-en {
  #viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-bottom-left.esri-ui-corner > div > div.esri-expand__container:not(.esri-expand__container--expanded) > div.esri-expand__panel > div {
    position: relative;
    width: 170px;
    &::after {
      content: 'Workspaces legend';
      width: fit-content;
      position: absolute;
      top: 8px;
      right: 10px;
    }
    &> span.esri-collapse__icon.esri-icon-layer-list {
      position: absolute;
      left: 10px;
    }
  }
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important; 
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#viewDiv > .esri-view-root > .esri-ui > .esri-ui-inner-container.esri-ui-manual-container > .esri-component.esri-popup > .esri-popup__main-container.esri-widget {
  background: #1A3C6E;
  color: #fff;
  max-width: unset;
  width: unset;
}

#viewDiv > .esri-view-root > .esri-ui > .esri-ui-inner-container.esri-ui-manual-container > .esri-component.esri-popup > div.esri-popup__pointer > div {
  background: #1A3C6E;
}

@media (max-width: 1024px) {
  #viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-bottom-left.esri-ui-corner > div.esri-component.esri-legend.esri-widget.esri-widget--panel {
    display: none;
  }
  #viewDiv > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-top-left.esri-ui-corner {
    flex-direction: column;
    align-items: flex-start;
  }


}


@media (max-width: 992px) {
  .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
    position: fixed;
    top: 251px;
    bottom: 0;
    margin: 0;
    height: 409px;
    background: #ffffff;
    z-index: 1;
    overflow: auto;
    width: 100%;
    left: 0;
  }
  .esri-view-height-xsmall .esri-ui-corner .esri-component .esri-expand__content {
    max-height: none;
  }
  .esri-view-height-xsmall .esri-expand .esri-widget--panel, .esri-view-height-xsmall .esri-expand .esri-widget--panel-height-only, .esri-view-height-xsmall .esri-ui-corner .esri-component.esri-widget--panel, .esri-view-height-xsmall .esri-ui-corner .esri-component.esri-widget--panel-height-only {
    max-height: none;
  }
}

#viewDiv > .esri-view-root .esri-ui .esri-ui-inner-container.esri-ui-manual-container .esri-component.esri-popup .esri-popup__main-container.esri-widget > div {
  display: none;
}

#viewDiv > .esri-view-root .esri-ui .esri-ui-inner-container.esri-ui-manual-container .esri-component.esri-popup .esri-popup__main-container > header > .esri-popup__header-buttons > div {
  display: none;
}

#viewDiv > .esri-view-root .esri-ui .esri-ui-inner-container.esri-ui-manual-container .esri-component.esri-popup .esri-popup__main-container > article {
  display: none;
}