* {
    font-family: "Open Sans";
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 100;
}

p{
    font-size: 1rem;
    line-height: 2.2rem;
    max-width: 1000px;
    color: #333;

}

a {
    color: #125D91;
}


@media (max-width: 768px) {  
    h1 {
        font-size: 1.875rem;
    }
    
}